<!-- Page Template: Category -->
{% extends "layout.html" %}
{% block headerpage %}
<header class="page-header">
	<h1>{{ category.name }} Cats</h1>
</header>
{% endblock headerpage %}	

{% block content %}
<main class="row">
	{% if items %}
	{% for item in items %}
	<div class="col-sm-4">
		<div class="thumbnail">
			{% if item.picture_filename != none %}
			<img src="{{url_for('show_image', filename=item.picture_filename)}}" alt="cat picture" class="img-responsive">
			{% elif item.picture_url != none %}
			<img src="{{item.picture_url}}" alt="cat picture" class="img-responsive">
			{% endif %}
			<div class="caption">
				<h3>{{ item.name }}</h3>
				<p>
					<a href="{{url_for('showItem', item_id=item.id)}}" class="btn btn-default" role="button">More about me!</a>
				</p>				
			</div>
		</div>
	</div>
	{% endfor %}
	{% else %}
	<h3>There is no Cat here yet!</h3>
	{% endif %}
</main>
{% endblock content %}