<!-- Page Template: Category -->
{% extends "layout.html" %}
{% block headerpage %}
<header class="page-header">
	<h1>{{ category.name }} Cats</h1>
</header>
{% endblock headerpage %}	

{% block content %}
<main class="row">
	{% if items %}
	{% for item in items %}
	<div class="col-sm-4">
		<div class="thumbnail">
			{% if item.picture_filename != none %}
			<img src="{{url_for('show_image', filename=item.picture_filename)}}" alt="cat picture" class="img-responsive">
			{% elif item.picture_url != none %}
			<img src="{{item.picture_url}}" alt="cat picture" class="img-responsive">
			{% endif %}
			<div class="caption">
				<h3><span class="cat-name">{{ item.name }}</span>
			</div>
			<a href="{{url_for('showItem', item_id=item.id)}}" class="btn btn-default" role="button">More about me!</a>		
		</div>
	</div>
	{% endfor %}
	{% else %}
	<h3 class="align-center"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> There is no Cat here yet! <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></h3>
	{% endif %}
</main>
{% endblock content %}