<!-- Page Template: Edit item -->
{% extends "layout.html" %}
{% block headerpage %}
<header class="page-header">
	<h1>Edit {{ item.name }}!</h1>
</header>
{% endblock headerpage %}	

{% block content %}
<main class="row">
	<section class="col-sm-8 col-sm-offset-2">
		{% if item.picture_filename != none %}
		<img src="{{url_for('show_image', filename=item.picture_filename)}}" alt="cat picture" class="img-responsive">
		{% elif item.picture_url != none %}
		<img src="{{item.picture_url}}" alt="cat picture" class="img-responsive">
		{% endif %}
		<form action="{{url_for('editItem', item_id=item.id)}}" method='post' enctype="multipart/form-data">
			<div class="form-group">
			    <label for="catName">Cat's name</label>
			    <input type="text" class="form-control" id="catName" name="name" value="{{item.name}}">
			</div>

			<div class="form-group">
			    <label for="catBio">About Cat</label>
			    <textarea class="form-control" rows="10" name="description">{{item.description}}</textarea>
			</div>

			<select class="form-control" name="category">
			{% for category in categories %}
				{% if category.id == item.category_id %}
				<option value="{{category.name}}" selected>{{ category.name }}</option>
				{% else %}
				<option value="{{category.name}}">{{ category.name }}</option>
				{% endif %}
			{% endfor %}
			</select>

			<div class="form-group">
			    <p>If you want to change your cat's picture:</p>
				<p>You can upload an image <strong>or</strong> give s link to an image on the web.</p>
				<p>Choose your image:</p>
				<label for="catImage">Cat's Image</label>
			    <input type="file" id="catImage" name="picture_file">
			    <p class="help-block">Select an image file in jpg or png.</p>		    

			    <label for="catImage">Or insert the full URL of your image:</label>
			    <input type="url" id="catFile" name="picture_url">
			</div>

		 	<button type="submit" class="btn btn-default" name="save">Save Cat!</button>
		 	<a href="{{url_for('showItem', item_id=item.id)}}" class="btn btn-default" role="button">Cancel</a>
		</form>
	</section>
</main>
{% endblock content %}