<!-- Page Template: Show item -->
{% extends "layout.html" %}
{% block content %}
<header class="page-header">
	<h1>My name is Cat Name</h1>
</header>
{% endblock headerpage %}	

{% block content %}
<main class="row">
	<section class="col-sm-8">
		<img src="#" alt="site" class="img-responsive">
		<br><br>
		<p>I am <a href="#">Category name</a></p>
		<p>About me:</p>
		<p> {{ item.description }}</p>
	</section>

	<section class="col-sm-2 col-sm-offset-2">
		<img src="#" alt="" class="img-responsive img-circle">
		<h4>My human is:</h4>
		<h5>User name</h5>
		<p><a href="#">See Cat Lover List!</a></p>
		<p><a href="#" class="btn btn-default" role="button">Edit this cat</a></p>
		<p><a href="#" class="btn btn-default" role="button">Delete this cat</a></p>
	</section>
</main>